.details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 2rem;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4.25rem;
  padding-bottom: 4.25rem;
  gap: 2rem;
}

.details img {
  width: 100%;
}

@media (min-width: 1024px) {
  .details {
    width: 100%;
  }

  .imgContainer {
    flex-direction: row;
  }

  .details img {
    width: 410px;
    height: 590px;
  }
}
