.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem 2rem;
  width: 90%;
  background-color: #122e43;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
}

.profileImg {
  width: 90%;
}

.profileImg img {
  width: 100%;
}

.nameAndPosition {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 90%;
  margin: 1rem 0rem;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  margin-bottom: 1rem;
}

.name span {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 1rem;
  color: #d8dbe3;
}

.name h4 {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
  color: #d8dbe3;
}

.nameAndPosition h3 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #2cf100;
}

.nameAndPosition p {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.3;
  text-align: justify;
  color: #d8dbe3;
}

.mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 90%;
  background-color: #122e43;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
}

.mySkills h2 {
  width: 90%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #d8dbe3;
}

.skills {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skill {
  width: calc(33.333% - 0.6666rem);
  padding: 10px;
  background-color: #204d6f;
  border-radius: 5px;
}

.skill img {
  width: 100%;
  height: auto;
}

.skill p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #d8dbe3;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 90%;
  background-color: #122e43;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  color: #d8dbe3;
}

.education h2 {
  width: 90%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #d8dbe3;
}

.courses {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
  background-color: #204d6f;
  border-radius: 5px;
  gap: 0.5rem;
}

.course h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #2cf100;
}

.course p {
  font-size: 1rem;
  color: #d8dbe3;
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 90%;
  background-color: #122e43;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
}

.certificates h2 {
  width: 90%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #d8dbe3;
}

.certificatesContainer {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.certificate {
  width: 100%;
  padding: 25px 25px 12.5px 25px;
  background-color: #204d6f;
  border-radius: 5px;
  text-decoration: none;
}

.certificate img {
  width: 100%;
  height: auto;
}

.certificate p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  height: 50px;
  color: #d8dbe3;
  text-decoration: none;
}

.certificate:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 90%;
  background-color: #122e43;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.7);
}

.myProjects h2 {
  width: 90%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #d8dbe3;
}

.projects {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project {
  width: 100%;
  padding: 25px 25px 12.5px 25px;
  background-color: #204d6f;
  border-radius: 5px;
  text-decoration: none;
}

.project img {
  width: 100%;
  height: auto;
}

.project p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  height: 50px;
  color: #d8dbe3;
  text-transform: uppercase;
}

.project:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

@media (min-width: 550px) {
  .name span {
    font-size: 1.5rem;
  }

  .name h4 {
    font-size: 1.75rem;
  }

  .nameAndPosition h3 {
    font-size: 2rem;
  }

  .mySkills h2 {
    font-size: 2rem;
  }

  .skill p {
    font-size: 1.25rem;
  }

  .education h2 {
    font-size: 2rem;
  }

  .course h3 {
    font-size: 1.5rem;
  }

  .course p {
    font-size: 1.25rem;
  }

  .certificates h2,
  .myProjects h2 {
    font-size: 2rem;
  }

  .certificate p,
  .myProjects p {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title {
    flex-direction: row;
    width: 80%;
    gap: 3rem;
  }

  .profileImg {
    width: 35%;
  }

  .nameAndPosition {
    width: 65%;
  }

  .nameAndPosition p {
    font-size: 1.1rem;
  }

  .mySkills {
    width: 80%;
  }

  .mySkills h2,
  .skills {
    width: 100%;
  }

  .skill {
    width: calc(25% - 0.8rem);
  }

  .education {
    width: 80%;
  }

  .education h2,
  .courses {
    width: 100%;
  }

  .certificates,
  .myProjects {
    width: 80%;
  }

  .certificates h2,
  .myProjects h2 {
    width: 100%;
  }

  .certificatesContainer,
  .projects {
    flex-direction: row;
    width: 100%;
  }

  .certificate,
  .project {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1025px) {
  .name span {
    font-size: 1.75rem;
  }

  .name h4 {
    font-size: 2rem;
  }

  .nameAndPosition h3 {
    font-size: 2.25rem;
  }

  .nameAndPosition p {
    font-size: 1.2rem;
  }

  .skill {
    width: calc(16.666% - 0.85rem);
  }

  .course h3 {
    font-size: 1.75rem;
  }

  .course p {
    font-size: 1.5rem;
  }

  .certificate p,
  .project p {
    font-size: 1.75rem;
  }

  .certificate,
  .project {
    width: calc(33.333% - 0.666rem);
  }
}
